body {
	margin:0px;
}

/*text {
  font: 10px sans-serif;
}*/

.tooltip {
  position: absolute;
  text-align: left;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #E7DEA3;
  pointer-events: none;
  opacity: 0.6;
}




