body {
  margin:0px;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  color:rgb(10, 17, 111)
}

header{
	min-with:1450px;
}
#plot{
  width:100%;
  height: 100%;
  margin:5%;
}
/*text {
  font: 10px sans-serif;
}*/
.div_class{
  margin:5px 0;
  width: 900px;
}
.div_class3 {
    margin:0px;
    width: 900px;
    height: 350px;
    border:1px solid #eee;
    overflow: scroll;
    float: left;
    overflow-x: hidden;
}
.div_class2 {
  margin:0px;
  width: 902px;
  background-color: #efefff;
  padding-top: 8px;
  padding-bottom: 12px;
  height:10px;
  float:left;
  margin-top:13px;
}
.div_boxplot{
  margin:0px;
  width: 900px;
  float: left;
}
.div_heatmap{
  width: 900px;
  height: 500px;
  overflow: auto;
  margin:0px;
  float: left;
  border: solid 1px #eeeeee;
}
.div_heatTrans{
  width: 1238px;
  height: 390px;
  margin:0px;
  float: left;
  border: solid 1px #eeeeee;

  /*border: solid 1px #eeeeee;*/
}
.div_samples{
  margin:0px;
  float:left;
}
.tooltip {
  position: absolute;
  text-align: left;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin-top: -20px;
  font-family: 'Dosis', sans-serif;
  font-size: 10px;
  background: #F7EEB3;
  pointer-events: none;
  opacity: 0.8;
}

#sidebar {
    width: 60%;
    height: 100px;
    float: left;
    border: 1px solid;
}
#toggle {
    width: 10%;
    height: 40%;
    margin-right: 6.5%;
    margin-top: 3.5%;
    float: right;
}

#version,#gene {
    background-color: #7a91ff;
    color: white;
    padding: 3px;
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius:2px;
    margin:15px;
}

/* Dropdown button on hover & focus */
#version:hover, #version:focus, #gene:hover, #gene:focus {
    background-color: #6a81df;
}

/* The container <div> - needed to position the#version content */
#version,#gene {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#version-content, #gene-content {
    display: none;
    position: absolute;
    background-color: #6a81df;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the#version */
#version-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of#version links on hover */
#version-content a:hover {background-color: #6a81df}

/* Show the#version menu (use JS to add this class to the #version-content container when the user clicks on the#version button) */
.show {display:block;}

#gene_search_container{
  margin-top: 10px;
  /*needed for some reason*/
  margin-left: 0px;
  display: none;
}

/*gene search box */
#gene_search_box{
  width:120px;
  /*float:left;*/
  /*display: none;*/
}

/*gene search button*/
#gene_search_button{
  /*width:50px;*/
  /*float:left;*/
  margin-top:-2px;
  /*display: none;*/
}

label{
  color:#7a91ff;
/*  font-weight: bold;*/
}

input{
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  color:#555555;
}
#curve #verti_line{
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
}

.ui-menu .ui-menu-item{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image:none;
}

.ui-widget-content{
  background: #eeeeee;
  opacity:0.8;
}

.ui-widget{
  font-size: 1.0em;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 2px solid #aac1ff;
  background: #7a91ff;
  font-weight: bold;
  color: #eeeeee;
}

.svg-container{
  border:solid 1px #eeeeee;
}

.backgroundstr {
  fill: none;
  pointer-events: all;
}

table {
    text-align: center;
}
